// Constant Colors

$navbar-bg: #fff;
$navbar-bottom-color: #007bff;
$button-color: #007bff;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0a2540; // Or your preferred background
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-bg;
  border-bottom: 4px solid $navbar-bottom-color; /* Blue accent at the bottom */
  padding: 0 3.5rem;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.logo img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

nav {
  display: flex;
  gap: 3rem;
}

nav a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

#login {
  background-color: $navbar-bg;
  color: $button-color;
  border-style: solid;
  border-color: $button-color;
  border-width: 0.2rem;
  border-radius: 6px;
  padding: 6px 16px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

