<div class="home-container">
  <section class="hero-section">
    <h1>Simplify Your Links</h1>
    <p>Effortlessly shorten URLs and share them with your audience.</p>

    <div class="url-shortener">
      <input [(ngModel)]="txtOriginalUrl" placeholder="Paste your long URL here" />
      <button (click)="submitOriginalUrl()">Shorten URL</button>
    </div>
  </section>

  <section class="image-section">
    <img src="office.jpg" alt="Laptop with shortened link preview"  />
  </section>
</div>

