<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>About MyBox</h4>
      <a routerLink="/our-story">Our Story</a>
      <a routerLink="/blog">Blog</a>
    </div>
    <div class="footer-section">
      <h4>Support</h4>
      <a routerLink="/help">Help Center</a>
      <a routerLink="/contact">Contact Us</a>
      <a routerLink="/privacy">Privacy Policy</a>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="http://github.com/FourAndHalf/"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/jinsoneb/"><i class="fab fa-linkedin-in"></i></a>
        <a href="mailto:jinsoneb@gmail.com"><i class="fab fa-telegram"></i></a>
        <a href="https://www.instagram.com/jinson_e_b/"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>

